@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?30900161");
  src: url("../font/fontello.eot?30900161#iefix") format("embedded-opentype"), url("../font/fontello.woff2?30900161") format("woff2"), url("../font/fontello.woff?30900161") format("woff"), url("../font/fontello.ttf?30900161") format("truetype"), url("../font/fontello.svg?30900161#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body, a, p, input, select, textarea {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  position: relative;
  color: #383838;
  display: block;
  text-decoration: none; }

.body {
  position: relative; }

* {
  list-style: none; }

.banner-container {
  width: 100%;
  color: white;
  position: relative;
  z-index: -1; }
  .banner-container__menu {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 8vh;
    opacity: 0.8;
    z-index: 1;
    display: flex;
    padding: 5rem 15rem;
    align-items: center;
    overflow: hidden; }
    .banner-container__menu--menulist {
      position: absolute;
      left: 30rem; }
      .banner-container__menu--menulist ul {
        display: flex; }
      .banner-container__menu--menulist li {
        margin-right: 5rem; }
    .banner-container__menu--logo {
      position: absolute;
      left: 2rem; }
      .banner-container__menu--logo img {
        width: 6rem;
        height: 6rem; }
    .banner-container__menu--title {
      position: absolute;
      left: 80rem;
      width: 50rem;
      height: 4rem;
      font-size: 12rem;
      font-style: italic;
      color: darkslategrey;
      font-family: auto;
      display: flex; }
      .banner-container__menu--title input {
        margin-right: 1rem;
        padding: 0.5rem;
        border: 1px solid lightgray;
        background-color: white;
        width: 40%;
        border-radius: 2.5rem; }
      .banner-container__menu--title button {
        background-color: #11274e;
        color: white;
        width: 34%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center; }
      .banner-container__menu--title button:hover {
        background-color: #11274e;
        transition: 1s ease; }
    .banner-container__menu--socialicons {
      display: flex;
      position: absolute;
      right: 2rem; }
      .banner-container__menu--socialicons--facebook {
        height: fit-content;
        width: 4rem;
        margin-right: 0.5rem;
        padding: 0.5rem; }
        .banner-container__menu--socialicons--facebook i {
          font-size: 2.4rem; }
      .banner-container__menu--socialicons--pinterest {
        height: fit-content;
        width: fit-content;
        padding: 0.5rem;
        margin-right: 1.5rem; }
        .banner-container__menu--socialicons--pinterest i {
          font-size: 2.4rem; }
      .banner-container__menu--socialicons--twitter {
        height: fit-content;
        width: fit-content;
        margin-right: 1rem;
        padding: 0.5rem; }
        .banner-container__menu--socialicons--twitter i {
          font-size: 2.4rem; }
  .banner-container__backimg {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/background01.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden; }
    .banner-container__backimg--backparticles {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../img/back_particles.png);
      animation: backparticles 1.5s ease-out;
      background-size: 62%;
      backface-visibility: hidden;
      background-position: 35rem;
      will-change: transform; }
    .banner-container__backimg--frontparticles {
      position: absolute;
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-image: url(../img/front_particles.png);
      animation: frontparticles 1s ease-out;
      background-size: 76rem 71rem;
      background-position: 13rem;
      backface-visibility: hidden;
      will-change: transform; }
    .banner-container__backimg--player {
      position: absolute;
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-image: url(../img/cover-img1.png);
      background-size: 55rem;
      background-position: 52rem 0rem;
      animation: player 3s ease;
      overflow: hidden;
      will-change: transform; }
    .banner-container__backimg--title {
      position: absolute;
      right: 10rem;
      bottom: 4rem;
      display: flex;
      flex-direction: column;
      width: fit-content;
      height: fit-content;
      align-items: flex-end; }
      .banner-container__backimg--title--1 {
        color: gray;
        font-size: 9rem;
        line-height: 6rem;
        transform: skewX(-15deg); }
      .banner-container__backimg--title--2 {
        color: darkslategrey;
        font-size: 7rem;
        float: right;
        transform: skewX(-10deg); }
      .banner-container__backimg--title--3 {
        background-color: darkred;
        padding: 1.4rem 4rem;
        font-size: 1.5rem;
        transform: skewX(-15deg); }
      .banner-container__backimg--title--4 {
        color: darkslategrey;
        font-size: 7rem; }
      .banner-container__backimg--title--5 {
        right: 1rem;
        color: #8f8383;
        font-size: 3rem; }

@keyframes backparticles {
  0% {
    background-size: 200%;
    left: -96rem;
    opacity: 0.4;
    bottom: -51.2rem; }
  100% {
    background-size: 62%;
    opacity: 0.8;
    left: 0;
    bottom: 0; } }

@keyframes frontparticles {
  0% {
    background-size: 117rem 71rem;
    background-position: -75rem;
    opacity: 0.2; }
  100% {
    background-size: 76rem 71rem;
    background-position: 13rem;
    opacity: 0.8; } }

@keyframes player {
  0% {
    background-position: -37rem 36rem;
    opacity: 0; }
  100% {
    background-position: 52rem 0rem;
    opacity: 1; } }

@keyframes ball {
  0% {
    background-position: 151rem 30rem; }
  100% {
    background-position: 103rem 20rem; } }

@keyframes title {
  0% {
    transform: translateX(90rem); }
  100% {
    transform: translateX(0rem); } }

.aboutscc {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column; }
  .aboutscc__1 {
    display: flex;
    background-image: url(../img/whiteBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
    padding: 3rem 21rem;
    justify-content: space-around;
    align-items: center; }
    .aboutscc__1--1 img {
      width: 20rem;
      height: 20rem; }
    .aboutscc__1--2 {
      font-size: 3rem;
      color: #444444; }
    .aboutscc__1--3 {
      border: 1px solid #11274e;
      background-color: white;
      padding: 2rem 6rem;
      font-size: 1.7rem;
      font-weight: 600; }
    .aboutscc__1--3:hover {
      transition: 1.5s all ease;
      background-color: #11274e;
      color: white; }
    .aboutscc__1--4 {
      border: 1px solid #11274e;
      background-color: #11274e;
      color: white;
      padding: 2rem 6rem;
      font-size: 1.7rem;
      font-weight: 600; }
    .aboutscc__1--4:hover {
      transition: 1s all ease;
      background-color: white;
      color: black; }
  .aboutscc__2 {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center; }
    .aboutscc__2--1 {
      font-size: 4rem;
      padding: 1rem; }
    .aboutscc__2--underline {
      width: 5%;
      background-color: cornflowerblue;
      padding: 0.1rem; }
    .aboutscc__2--2 {
      padding: 2rem 33rem;
      line-height: 2.5rem;
      color: lightgray;
      font-size: 1.5rem;
      text-align: justify; }
    .aboutscc__2--3 {
      display: flex; }
      .aboutscc__2--3--matches {
        padding: 1.4rem 4rem;
        background-color: lightgray; }
        .aboutscc__2--3--matches a {
          color: indianred;
          font-weight: 600; }
      .aboutscc__2--3--matches:hover {
        background-color: gray; }
        .aboutscc__2--3--matches:hover a {
          color: white;
          font-weight: 600; }
      .aboutscc__2--3--statics {
        padding: 1.4rem 4rem;
        background-color: gray; }
        .aboutscc__2--3--statics a {
          color: white;
          font-weight: 600; }
      .aboutscc__2--3--statics:hover {
        background-color: gray; }
        .aboutscc__2--3--statics:hover a {
          color: white;
          font-weight: 600; }
      .aboutscc__2--3--training {
        padding: 1.4rem 4rem;
        background-color: lightgray; }
        .aboutscc__2--3--training a {
          color: indianred;
          font-weight: 600; }
      .aboutscc__2--3--training:hover {
        background-color: gray; }
        .aboutscc__2--3--training:hover a {
          color: white;
          font-weight: 600; }

.latest-result {
  width: 100%;
  height: 100vh;
  background-image: url(../img/latestnews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  overflow: hidden; }
  .latest-result__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem; }
    .latest-result__1--heading {
      font-size: 4rem;
      color: white;
      font-weight: 100; }
    .latest-result__1--underline {
      width: 50%;
      background-color: blue;
      margin: 1rem;
      padding: 0.2rem; }
  .latest-result__2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .latest-result__2--heading {
      font-size: 2rem;
      color: cornflowerblue; }
    .latest-result__2--para {
      color: lightslategrey;
      font-size: 1.3rem;
      line-height: 2rem;
      padding: 0rem 17rem;
      text-align: center;
      margin-top: 1rem; }
  .latest-result__3 {
    width: 100%;
    display: flex;
    margin: 4rem;
    justify-content: center; }
    .latest-result__3--1--logo {
      position: relative;
      z-index: 1; }
      .latest-result__3--1--logo--sub {
        position: absolute;
        top: 1rem;
        right: 2rem;
        z-index: 1; }
      .latest-result__3--1--logo--sub1 {
        position: absolute;
        top: 4rem;
        right: 21rem;
        transform: rotateY(180deg);
        z-index: -1; }
        .latest-result__3--1--logo--sub1 img {
          width: 30rem;
          height: 18rem;
          animation: wings 1s ease-in; }
    .latest-result__3--2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0rem 5rem; }
      .latest-result__3--2--numbers {
        display: flex;
        font-size: 10rem;
        font-weight: 700;
        color: white;
        margin: 4rem 0rem; }
      .latest-result__3--2--date {
        color: white;
        font-size: 1.3rem; }
      .latest-result__3--2--stadium {
        color: white;
        font-size: 1.3rem; }
      .latest-result__3--2--location {
        color: white;
        font-size: 1.3rem; }
    .latest-result__3--3--logo {
      position: relative;
      z-index: 10; }
      .latest-result__3--3--logo--sub {
        position: absolute;
        top: 1rem;
        right: 2rem;
        z-index: 1; }
      .latest-result__3--3--logo--sub1 {
        position: absolute;
        top: 4rem;
        right: -21rem;
        z-index: -1;
        background-image: url(../img/resultBoard.png);
        background-repeat: no-repeat;
        background-size: 28rem 18rem;
        background-position: 19rem 0rem;
        width: 47rem;
        height: 20rem;
        animation: wings2 1s ease-in;
        /*img{
                        width:30rem;
                        height:18rem;
                        animation:wings2 .8s ease-in;
                    }*/ }
  .latest-result__4 {
    border-radius: 4%;
    background-color: cornflowerblue;
    padding: 2rem 6rem;
    font-size: 1.7rem;
    font-weight: 600;
    border: none; }
    .latest-result__4 a {
      color: white; }
  .latest-result__4:hover {
    border-radius: 4%;
    padding: 2rem 6rem;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: white;
    transition: 1s all ease;
    border: none; }
    .latest-result__4:hover a {
      color: cornflowerblue; }

@keyframes wings {
  0% {
    width: 0rem; }
  100% {
    width: 30rem; } }

@keyframes wings2 {
  0% {
    background-size: 0rem 18rem; }
  100% {
    background-size: 28rem 18rem; } }

.match-container {
  width: 100%;
  height: 150vh;
  padding: 4rem; }
  .match-container__stuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*---- &--box3{
            display:flex;
            background-image: url(../../img/counterBg.jpg);
            background-size: cover;
            background-repeat:repeat;
            width:75%;
            height:50vh;
            margin-top:5rem;
            position: relative;

            &--list{
                position:absolute;
                right:0;
                width:70%;
                overflow:hidden;
                opacity:0.8;
                &--container{
	                border-bottom: 41rem solid darkred;
	                border-right: 13.5rem solid transparent;
	                height: 0;
	                width: 47.5rem;
                    display:flex;
                    flex-direction: column;
                    position: absolute;
                    left:0;
                    &--heading{
                        transform:translateY(13rem);
                        color:white;
                        font-size: 2rem;
                    }
                    &--para{
                        transform:translateY(14rem);
                        color:white;
                        opacity:0.7;
                        font-size: 1.5rem;
                    }
                }
                &--1{
                    
                    display: flex;
                    color:white;
                    height:4vh;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom:red;
                    font-size:3rem;
                    &--num1{
                        border-bottom:1px solid red;

                    }
                    &--team1{

                    }
                    &--versus{

                    }
                    &--team2{

                    }
                }
                &--2{
                    display: flex;
                    color:white;
                    height:4vh;
                    width:100%;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom:red;
                    font-size:3rem;
                    background-color:black;
                    &--num2{
                        
                    }
                    &--team1{

                    }
                    &--versus{

                    }
                    &--team2{
                        
                    }
                }
                &--3{
                    display: flex;
                    color:white;
                    height:4vh;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom:red;
                    font-size:3rem;

                    &--num3{
                        
                    }
                    &--team1{

                    }
                    &--versus{

                    }
                    &--team2{
                        
                    }
                }
                &--4{
                    display: flex;
                    color:white;
                    height:4vh;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom:red;
                    font-size:3rem;

                    &--num4{
                        
                    }
                    &--team1{

                    }
                    &--versus{

                    }
                    &--team2{
                        
                    }
                }
                &--5{
                    display: flex;
                    width:100%;
                    color:white;
                    height:4vh;
                    justify-content: space-around;
                    align-items: center;
                    border-bottom:red;
                    font-size:2.5rem;

                    &--num5{
                        
                    }
                    &--team1{

                    }
                    &--versus{

                    }
                    &--team2{
                        
                    }
                }
                
            }
            
        }---------*/ }
    .match-container__stuff--heading {
      font-size: 4rem;
      color: #444444;
      font-weight: 100; }
      .match-container__stuff--heading span {
        color: cornflowerblue; }
    .match-container__stuff--underline {
      width: 10%;
      background-color: blue;
      margin: 1rem;
      padding: 0.2rem; }
    .match-container__stuff--para {
      padding-top: 5rem;
      padding-left: 15rem;
      padding-right: 15rem;
      line-height: 2rem;
      color: gray;
      font-size: 1.8rem;
      text-align: center; }
    .match-container__stuff--box {
      width: 75%;
      height: 50vh;
      display: flex;
      margin-top: 5rem; }
      .match-container__stuff--box--2 {
        background-image: url(../img/blackbg.jpg);
        background-size: cover;
        align-items: center;
        display: flex;
        width: 85%; }
        .match-container__stuff--box--2--1 {
          position: relative;
          border-bottom: 41rem solid darkred;
          border-right: 13.5rem solid transparent;
          height: 0;
          width: 57.5rem;
          position: relative; }
          .match-container__stuff--box--2--1--heading {
            position: absolute;
            top: 0rem;
            left: 2rem;
            color: white;
            font-size: 2rem;
            transform: translateY(13rem); }
          .match-container__stuff--box--2--1--para {
            position: absolute;
            top: 2rem;
            left: 2rem;
            color: white;
            opacity: 0.7;
            font-size: 1.5rem;
            transform: translateY(14rem); }
        .match-container__stuff--box--2--container {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center; }
          .match-container__stuff--box--2--container--para {
            opacity: 0.7;
            color: white; }
          .match-container__stuff--box--2--container--logos {
            display: flex;
            align-items: center; }
            .match-container__stuff--box--2--container--logos--img1 img {
              width: 15rem;
              height: 15rem; }
            .match-container__stuff--box--2--container--logos--versus {
              color: white;
              font-size: 4rem; }
            .match-container__stuff--box--2--container--logos--img2 img {
              width: 15rem;
              height: 15rem; }
          .match-container__stuff--box--2--container--datentime--date {
            color: white;
            opacity: 0.7; }
          .match-container__stuff--box--2--container--datentime--time {
            color: white;
            opacity: 0.7; }
          .match-container__stuff--box--2--container--stadium {
            color: white;
            opacity: 0.7; }
      .match-container__stuff--box--3 {
        align-items: center; }
        .match-container__stuff--box--3--list--1 {
          background-image: url(../img/counterBg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 18rem;
          height: 10rem;
          border-bottom: 2px solid red;
          display: flex;
          flex-direction: column;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3rem; }
          .match-container__stuff--box--3--list--1 span {
            color: white;
            font-size: 1.5rem; }
        .match-container__stuff--box--3--list--2 {
          background-image: url(../img/counterBg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 18rem;
          height: 10.5rem;
          border-bottom: 2px solid red;
          display: flex;
          flex-direction: column;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3rem; }
          .match-container__stuff--box--3--list--2 span {
            color: white;
            font-size: 1.5rem; }
        .match-container__stuff--box--3--list--3 {
          background-image: url(../img/counterBg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 18rem;
          height: 10.5rem;
          border-bottom: 2px solid red;
          display: flex;
          flex-direction: column;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3rem; }
          .match-container__stuff--box--3--list--3 span {
            color: white;
            font-size: 1.5rem; }
        .match-container__stuff--box--3--list--4 {
          background-image: url(../img/counterBg.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 18rem;
          height: 10rem;
          border-bottom: 6px solid red;
          display: flex;
          flex-direction: column;
          color: white;
          justify-content: center;
          align-items: center;
          font-size: 3rem; }
          .match-container__stuff--box--3--list--4 span {
            color: white;
            font-size: 1.5rem; }
    .match-container__stuff--box2 {
      display: flex;
      background-image: url(../img/counterBg.jpg);
      background-size: cover;
      background-repeat: repeat;
      width: 75%;
      height: 50vh;
      margin-top: 5rem;
      position: relative; }
      .match-container__stuff--box2--list {
        width: 70%;
        overflow: hidden;
        opacity: 0.8; }
        .match-container__stuff--box2--list--1 {
          display: flex;
          color: white;
          height: 15vh;
          justify-content: space-around;
          align-items: center;
          border-bottom: red;
          font-size: 3rem; }
          .match-container__stuff--box2--list--1--num1 {
            border-bottom: 1px solid red; }
        .match-container__stuff--box2--list--2 {
          display: flex;
          color: white;
          height: 15vh;
          width: 100%;
          justify-content: space-around;
          align-items: center;
          border-bottom: red;
          font-size: 3rem;
          background-color: black; }
        .match-container__stuff--box2--list--3 {
          display: flex;
          color: white;
          height: 15vh;
          justify-content: space-around;
          align-items: center;
          border-bottom: red;
          font-size: 3rem; }
        .match-container__stuff--box2--list--4 {
          display: flex;
          color: white;
          height: 15vh;
          justify-content: space-around;
          align-items: center;
          border-bottom: red;
          font-size: 3rem; }
        .match-container__stuff--box2--list--5 {
          display: flex;
          width: 100%;
          color: white;
          height: 15vh;
          justify-content: space-around;
          align-items: center;
          border-bottom: red;
          font-size: 2.5rem; }
        .match-container__stuff--box2--list--container {
          border-bottom: 41rem solid darkred;
          border-left: 13.5rem solid transparent;
          height: 0;
          width: 47.5rem;
          display: flex;
          flex-direction: column;
          position: absolute;
          right: 0; }
          .match-container__stuff--box2--list--container--heading {
            transform: translateY(13rem);
            color: white;
            font-size: 2rem; }
          .match-container__stuff--box2--list--container--para {
            transform: translateY(14rem);
            color: white;
            opacity: 0.7;
            font-size: 1.5rem; }

.strip {
  background-image: url(../img/ticketbooking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 30vh;
  width: 100%;
  overflow: hidden;
  padding: 0rem 10rem; }
  .strip__logo {
    flex: 1; }
    .strip__logo img {
      width: 20rem;
      height: 20rem; }
  .strip__container {
    display: flex;
    width: 40%;
    align-items: center; }
    .strip__container--1 {
      margin-right: 1rem;
      height: 5vh;
      padding: 2.5rem;
      border: 1px solid lightgray;
      background-color: white;
      width: 32rem;
      border-radius: 2.5rem; }
    .strip__container--2 {
      background-color: #11274e;
      color: white;
      width: 40%;
      height: 5vh;
      border: none;
      padding: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }

.our-heroes {
  background-image: url(../img/heroesBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .our-heroes__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .our-heroes__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem;
      color: white; }
      .our-heroes__container--heading span {
        color: cornflowerblue; }
    .our-heroes__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .our-heroes__container--para {
      text-align: center;
      width: 70%;
      margin: 4rem;
      color: gray;
      line-height: 1.8rem; }
    .our-heroes__container--gliderbox {
      display: flex;
      width: 80%;
      height: 30vh;
      margin-top: 5rem;
      justify-content: center; }
      .our-heroes__container--gliderbox--card {
        display: flex;
        flex-direction: column;
        width: 40rem;
        height: 60vh;
        margin-right: 1.3rem; }
        .our-heroes__container--gliderbox--card--img img {
          width: 40rem;
          height: 34vh; }
        .our-heroes__container--gliderbox--card--img img:hover {
          height: 36vh; }
        .our-heroes__container--gliderbox--card--name {
          background-color: darkred;
          font-size: 2rem;
          color: white;
          width: 40rem;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center; }
        .our-heroes__container--gliderbox--card--position {
          background-image: url(../img/counterBg.jpg);
          background-size: cover;
          font-size: 2rem;
          width: 40rem;
          height: 6vh;
          display: flex;
          justify-content: center;
          color: white;
          align-items: center; }

.social {
  background-image: url(../img/about-banner.jpg);
  opacity: 0.6;
  background-position: 0rem;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  overflow: hidden; }
  .social__container {
    display: flex;
    justify-content: center; }
    .social__container--box {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 50vh;
      justify-content: center;
      align-items: center; }
      .social__container--box--heading {
        align-content: center;
        margin-bottom: 2rem; }
        .social__container--box--heading i {
          filter: contrast(200%);
          font-size: 5rem;
          line-height: 1rem;
          color: white; }
      .social__container--box--para {
        color: white;
        text-align: center;
        font-size: 1.5rem; }

.about {
  background-color: #ECECEC;
  width: 100%;
  height: 80vh;
  padding: 5rem 10rem;
  display: flex;
  overflow: hidden;
  justify-content: space-around; }
  .about__1 {
    width: 15%;
    height: 80vh;
    margin-top: 3rem; }
    .about__1--heading {
      font-size: 2rem;
      color: darkred; }
    .about__1--underline {
      width: 20%;
      height: 5px;
      background-color: darkred;
      margin: 1.5rem 0rem; }
    .about__1--para {
      color: #444444;
      font-size: 1.8rem;
      line-height: 2.8rem;
      margin-top: 2.6rem;
      margin-bottom: 3rem; }
    .about__1--address {
      display: flex;
      font-size: 1.6rem; }
      .about__1--address--title {
        color: black; }
      .about__1--address--loc {
        color: #444444; }
        .about__1--address--loc span {
          color: darkred; }
    .about__1--call {
      display: flex;
      font-size: 1.6rem;
      margin-top: 1rem; }
      .about__1--call--title {
        color: black; }
      .about__1--call--num {
        color: darkred; }
  .about__2 {
    width: 20%;
    height: 30vh;
    margin-top: 3rem; }
    .about__2--heading {
      font-size: 2rem;
      color: darkred; }
    .about__2--underline {
      width: 20%;
      height: 5px;
      background-color: darkred;
      margin: 1.5rem 0rem; }
    .about__2--div1 {
      margin-top: 3rem;
      display: flex;
      height: 20vh;
      overflow: hidden; }
      .about__2--div1--img img {
        width: 10rem;
        height: 8rem; }
      .about__2--div1--flex {
        margin: 0rem 1rem; }
        .about__2--div1--flex--1 {
          border-bottom: 1px solid darkred;
          padding: 0.5rem; }
    .about__2--div2 {
      display: flex;
      height: 20vh;
      overflow: hidden; }
      .about__2--div2--img img {
        width: 10rem;
        height: 8rem; }
      .about__2--div2--flex {
        margin: 0rem 1rem; }
        .about__2--div2--flex--1 {
          border-bottom: 1px solid darkred;
          padding: 0.5rem; }
    .about__2--div3 {
      display: flex;
      height: 20vh;
      overflow: hidden; }
      .about__2--div3--img img {
        width: 10rem;
        height: 8rem; }
      .about__2--div3--flex {
        margin: 0rem 1rem; }
        .about__2--div3--flex--1 {
          border-bottom: 1px solid darkred;
          padding: 0.5rem; }
  .about__3 {
    width: 15%;
    height: 80vh;
    margin-top: 3rem; }
    .about__3--heading {
      font-size: 2rem;
      color: darkred; }
    .about__3--underline {
      width: 20%;
      height: 5px;
      background-color: darkred;
      margin: 1.5rem 0rem; }
    .about__3--list {
      color: #444444; }
      .about__3--list li {
        margin: 2rem 0rem;
        font-size: 1.5rem; }
    .about__3--btn {
      margin: auto;
      background-color: darkred;
      color: white;
      padding: 1rem 2rem;
      border: none;
      border-radius: 2rem; }
  .about__4 {
    width: 20%;
    height: 80vh;
    margin: 3rem; }
    .about__4--heading {
      font-size: 2rem;
      color: darkred; }
    .about__4--underline {
      width: 20%;
      height: 5px;
      background-color: darkred;
      margin: 1.5rem 0rem; }
    .about__4--div1 {
      margin-top: 3srem; }
      .about__4--div1--img {
        display: flex; }
        .about__4--div1--img img {
          border-radius: 50%;
          width: 10rem;
          height: 10rem; }
      .about__4--div1--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem; }
        .about__4--div1--flex--name {
          margin: 0.5rem;
          color: darkred; }
        .about__4--div1--flex--date {
          margin: 0.5rem; }
        .about__4--div1--flex--comment {
          margin: 0.5rem; }
    .about__4--div2 {
      margin-top: 3rem; }
      .about__4--div2--img {
        display: flex; }
        .about__4--div2--img img {
          border-radius: 50%;
          width: 10rem;
          height: 10rem; }
      .about__4--div2--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem; }
        .about__4--div2--flex--name {
          margin: 0.5rem;
          color: darkred; }
        .about__4--div2--flex--date {
          margin: 0.5rem; }
        .about__4--div2--flex--comment {
          margin: 0.5rem; }
    .about__4--div3 {
      margin-top: 3rem; }
      .about__4--div3--img {
        display: flex; }
        .about__4--div3--img img {
          border-radius: 50%;
          width: 10rem;
          height: 10rem; }
      .about__4--div3--flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem; }
        .about__4--div3--flex--name {
          margin: 0.5rem;
          color: darkred; }
        .about__4--div3--flex--date {
          margin: 0.5rem; }
        .about__4--div3--flex--comment {
          margin: 0.5rem; }

.footer-container {
  width: 100%;
  background-image: url(../img/heroesBg.jpg);
  background-size: cover;
  height: 50vh;
  display: flex;
  padding: 5rem 15rem;
  justify-content: space-between;
  align-items: center; }
  .footer-container__logo img {
    width: 9rem;
    height: 9rem; }
  .footer-container__menu {
    border-right: 1px solid whitesmoke;
    padding-right: 10rem; }
    .footer-container__menu ul {
      list-style: none;
      color: white;
      cursor: pointer; }
  .footer-container__socialicons {
    display: flex; }
    .footer-container__socialicons--facebook {
      border: 1px solid white;
      height: fit-content;
      width: 5rem;
      border-radius: 4rem;
      margin: 2rem;
      padding: 1rem; }
      .footer-container__socialicons--facebook i {
        font-size: 3rem; }
    .footer-container__socialicons--facebook:hover {
      background-color: blue;
      transition: 1s ease;
      border: 1px solid blue; }
    .footer-container__socialicons--pinterest {
      border: 1px solid white;
      height: fit-content;
      width: fit-content;
      border-radius: 50%;
      margin: 2rem;
      padding: 1rem; }
      .footer-container__socialicons--pinterest i {
        font-size: 3rem; }
    .footer-container__socialicons--pinterest:hover {
      background-color: red;
      transition: 1s ease;
      border: 1px solid red; }
    .footer-container__socialicons--twitter {
      border: 1px solid white;
      height: fit-content;
      width: fit-content;
      border-radius: 52%;
      margin: 2rem;
      padding: 1rem; }
      .footer-container__socialicons--twitter i {
        font-size: 3rem; }
    .footer-container__socialicons--twitter:hover {
      transition: 1s ease;
      background-color: cornflowerblue;
      border: 1px solid cornflowerblue; }

.about-container {
  background-image: url(http://0effortthemes.com/soccerclubv2/images/background/innerpageBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -9rem;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  position: relative; }
  .about-container__menu {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 15vh;
    opacity: 0.7;
    z-index: 1;
    display: flex;
    padding: 5rem 15rem;
    justify-content: space-between;
    align-items: center; }
    .about-container__menu--menulist ul {
      display: flex;
      color: whitesmoke; }
    .about-container__menu--menulist li {
      margin-right: 5rem; }
    .about-container__menu--logo img {
      width: 15rem;
      height: 15rem; }
    .about-container__menu--socialicons {
      display: flex; }
      .about-container__menu--socialicons--facebook {
        border: 1px solid blue;
        background-color: blue;
        height: fit-content;
        width: 4rem;
        border-radius: 4rem;
        margin: 1rem;
        padding: 0.5rem; }
        .about-container__menu--socialicons--facebook i {
          font-size: 3rem; }
      .about-container__menu--socialicons--facebook:hover {
        background-color: blue;
        transition: 1s ease;
        border: 1px solid blue; }
      .about-container__menu--socialicons--pinterest {
        border: 1px solid red;
        background-color: red;
        height: fit-content;
        width: fit-content;
        border-radius: 52%;
        margin: 1rem;
        padding: 0.5rem; }
        .about-container__menu--socialicons--pinterest i {
          font-size: 3rem; }
      .about-container__menu--socialicons--pinterest:hover {
        transition: 1s ease;
        background-color: red;
        border: 1px solid red; }
      .about-container__menu--socialicons--twitter {
        border: 1px solid cornflowerblue;
        background-color: cornflowerblue;
        height: fit-content;
        width: fit-content;
        border-radius: 52%;
        margin: 1rem;
        padding: 0.5rem; }
        .about-container__menu--socialicons--twitter i {
          font-size: 3rem; }
      .about-container__menu--socialicons--twitter:hover {
        transition: 1s ease;
        background-color: #8b96aa;
        border: 1px solid cornflowerblue; }
  .about-container--heading {
    transform: translateY(25rem);
    /*display:flex;
            justify-content: center;*/
    font-size: 5rem;
    font-weight: 700;
    color: white; }
    .about-container--heading span {
      color: cornflowerblue; }

.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  -ms-filter: blur(8px); }

.club {
  width: 100%;
  height: 50vh;
  background-image: url(../img/whiteBgBig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; }
  .club__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; }
    .club__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem; }
      .club__container--heading span {
        color: cornflowerblue; }
    .club__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .club__container--paragraph {
      text-align: center;
      width: 70%;
      margin: 6rem;
      color: lightgray;
      line-height: 1.8rem; }

.board-members {
  overflow: hidden;
  width: 100%;
  height: 120vh;
  background-image: url(../img/heroesBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .board-members__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; }
    .board-members__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem;
      color: white; }
      .board-members__container--heading span {
        color: cornflowerblue; }
    .board-members__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .board-members__container--paragraph {
      text-align: center;
      width: 70%;
      margin: 4rem;
      color: gray;
      line-height: 1.8rem; }
  .board-members__cards {
    width: 100%;
    display: flex;
    margin-top: 5rem;
    transform: translateX(6rem); }
    .board-members__cards--1 {
      width: 62%;
      height: 60vh;
      margin-right: -10rem; }
      .board-members__cards--1--image {
        width: 62%;
        height: 30vh; }
      .board-members__cards--1--name {
        width: 62%;
        padding: 1rem;
        color: whitesmoke;
        background-color: #282f37; }
      .board-members__cards--1--position {
        width: 62%;
        padding: 0.3rem 1rem;
        color: red;
        background-color: #282f37; }
      .board-members__cards--1--paragraph {
        width: 62%;
        padding: 1rem;
        color: gray;
        background-color: #282f37; }
      .board-members__cards--1--description {
        width: 62%;
        padding: 3rem 1rem;
        background-color: #20262d;
        color: gray; }
      .board-members__cards--1--dob {
        width: 62%;
        padding: 1rem;
        background-color: #b81e20;
        display: flex;
        color: whitesmoke; }
    .board-members__cards--2 {
      width: 62%;
      height: 60vh;
      margin-right: -10rem; }
      .board-members__cards--2--image {
        width: 62%;
        height: 30vh; }
      .board-members__cards--2--name {
        width: 62%;
        padding: 1rem;
        color: whitesmoke;
        background-color: #282f37; }
      .board-members__cards--2--position {
        width: 62%;
        padding: 0.3rem 1rem;
        color: red;
        background-color: #282f37; }
      .board-members__cards--2--paragraph {
        width: 62%;
        padding: 1rem;
        color: gray;
        background-color: #282f37; }
      .board-members__cards--2--description {
        width: 62%;
        padding: 3rem 1rem;
        background-color: #20262d;
        color: gray; }
      .board-members__cards--2--dob {
        width: 62%;
        padding: 1rem;
        background-color: #b81e20;
        display: flex;
        color: whitesmoke; }
    .board-members__cards--3 {
      width: 62%;
      height: 60vh;
      margin-right: -10rem; }
      .board-members__cards--3--image {
        width: 62%;
        height: 30vh; }
      .board-members__cards--3--name {
        width: 62%;
        padding: 1rem;
        color: whitesmoke;
        background-color: #282f37; }
      .board-members__cards--3--position {
        width: 62%;
        padding: 0.3rem 1rem;
        color: red;
        background-color: #282f37; }
      .board-members__cards--3--paragraph {
        width: 62%;
        padding: 1rem;
        color: gray;
        background-color: #282f37; }
      .board-members__cards--3--description {
        width: 62%;
        padding: 3rem 1rem;
        background-color: #20262d;
        color: gray; }
      .board-members__cards--3--dob {
        width: 62%;
        padding: 1rem;
        background-color: #b81e20;
        display: flex;
        color: whitesmoke; }

.achievements {
  width: 100%;
  background: url(../img/bgTopLeft.png) left top no-repeat, url(../img/bgBottomRight.png) right bottom no-repeat #f5f5f5; }
  .achievements__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .achievements__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem;
      color: #444444; }
      .achievements__container--heading span {
        color: cornflowerblue; }
    .achievements__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .achievements__container--paragraph {
      text-align: center;
      width: 70%;
      margin: 4rem;
      color: gray;
      line-height: 1.8rem; }
    .achievements__container--winners {
      display: flex;
      flex-direction: column;
      width: 70%; }
      .achievements__container--winners--1 {
        background-color: white;
        display: flex;
        margin: 2rem; }
        .achievements__container--winners--1--flex1 {
          display: flex;
          flex-direction: column;
          width: 30%; }
          .achievements__container--winners--1--flex1--image {
            background: url(../img/background-news.jpg); }
            .achievements__container--winners--1--flex1--image img {
              display: flex;
              margin: auto; }
            .achievements__container--winners--1--flex1--image img:hover {
              transform: scale(0.7, 0.7);
              transition: 1.5s ease; }
          .achievements__container--winners--1--flex1--duration {
            background-color: cornflowerblue;
            color: whitesmoke;
            padding: 1rem 0rem; }
        .achievements__container--winners--1--flex2 {
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: space-evenly;
          padding: 2rem; }
          .achievements__container--winners--1--flex2--heading {
            color: cornflowerblue;
            margin-bottom: 2rem; }
          .achievements__container--winners--1--flex2--paragraph {
            color: lightgray;
            text-align: justify; }
          .achievements__container--winners--1--flex2--date {
            color: lightgray;
            margin-top: 2rem; }
            .achievements__container--winners--1--flex2--date span {
              color: cornflowerblue; }
      .achievements__container--winners--2 {
        display: flex;
        margin: 2rem;
        background-color: white; }
        .achievements__container--winners--2--flex1 {
          display: flex;
          flex-direction: column;
          width: 30%; }
          .achievements__container--winners--2--flex1--image {
            background: url(../img/background-news.jpg); }
            .achievements__container--winners--2--flex1--image img {
              display: flex;
              margin: auto; }
            .achievements__container--winners--2--flex1--image img:hover {
              transform: scale(0.7, 0.7);
              transition: 1.5s ease; }
          .achievements__container--winners--2--flex1--duration {
            background-color: cornflowerblue;
            color: whitesmoke;
            padding: 1rem 0rem; }
        .achievements__container--winners--2--flex2 {
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: space-evenly;
          padding: 2rem; }
          .achievements__container--winners--2--flex2--heading {
            color: cornflowerblue;
            margin-bottom: 2rem; }
          .achievements__container--winners--2--flex2--paragraph {
            color: lightgray;
            text-align: justify; }
          .achievements__container--winners--2--flex2--date {
            color: lightgray;
            margin-top: 2rem; }
            .achievements__container--winners--2--flex2--date span {
              color: cornflowerblue; }
      .achievements__container--winners--3 {
        display: flex;
        margin: 2rem;
        background-color: white; }
        .achievements__container--winners--3--flex1 {
          display: flex;
          flex-direction: column;
          width: 30%; }
          .achievements__container--winners--3--flex1--image {
            background: url(../img/background-news.jpg); }
            .achievements__container--winners--3--flex1--image img {
              display: flex;
              margin: auto; }
            .achievements__container--winners--3--flex1--image img:hover {
              transform: scale(0.7, 0.7);
              transition: 1.5s ease; }
          .achievements__container--winners--3--flex1--duration {
            background-color: cornflowerblue;
            color: whitesmoke;
            padding: 1rem 0rem; }
        .achievements__container--winners--3--flex2 {
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: space-evenly;
          padding: 2rem; }
          .achievements__container--winners--3--flex2--heading {
            color: cornflowerblue;
            margin-bottom: 2rem; }
          .achievements__container--winners--3--flex2--paragraph {
            color: lightgray;
            text-align: justify; }
          .achievements__container--winners--3--flex2--date {
            color: lightgray;
            margin-top: 2rem; }
            .achievements__container--winners--3--flex2--date span {
              color: cornflowerblue; }

.players {
  overflow: hidden;
  width: 100%;
  height: 120vh;
  background-image: url(../img/playerdetailsBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .players__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; }
    .players__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem;
      color: white; }
      .players__container--heading span {
        color: cornflowerblue; }
    .players__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .players__container--paragraph {
      text-align: center;
      width: 70%;
      margin: 4rem;
      color: #979da0;
      line-height: 1.8rem; }
    .players__container--playerinfo {
      width: 85%;
      height: 80vh;
      display: flex; }
      .players__container--playerinfo--1 {
        display: flex;
        flex-direction: column; }
        .players__container--playerinfo--1--image img {
          width: 43rem;
          height: 75vh; }
        .players__container--playerinfo--1--socialicons {
          background-color: gray;
          width: 43rem;
          height: 5vh;
          display: flex;
          justify-content: center;
          align-items: center; }
          .players__container--playerinfo--1--socialicons--facebook a {
            margin-right: 2rem; }
          .players__container--playerinfo--1--socialicons--linkdin a {
            margin-right: 2rem; }
          .players__container--playerinfo--1--socialicons--twitter a {
            margin-right: 2rem; }
          .players__container--playerinfo--1--socialicons--behance a {
            margin-right: 2rem; }
      .players__container--playerinfo--2 {
        background-image: url(../img/heroesBg.jpg);
        background-size: cover;
        width: 100%;
        padding-left: 1rem; }
        .players__container--playerinfo--2--div1 {
          margin-top: 2rem;
          display: flex;
          justify-content: space-between; }
          .players__container--playerinfo--2--div1--list--1 {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            font-size: 1rem; }
          .players__container--playerinfo--2--div1--list--2 {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            font-size: 1rem; }
          .players__container--playerinfo--2--div1--list--3 {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            font-size: 1rem; }
        .players__container--playerinfo--2--info p {
          margin: 2rem 0rem;
          color: red;
          font-size: 2rem; }
        .players__container--playerinfo--2--para {
          color: lightgray; }
        .players__container--playerinfo--2--info p {
          color: red;
          font-size: 2rem; }
        .players__container--playerinfo--2--para {
          color: gray; }
        .players__container--playerinfo--2--list {
          color: lightgray;
          line-height: 2.5rem; }

.sponsors {
  background-image: url(../img/whiteBg.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh; }
  .sponsors__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .sponsors__container--heading {
      font-size: 3.5rem;
      font-weight: 700;
      margin-top: 5rem;
      color: #444444; }
      .sponsors__container--heading span {
        color: cornflowerblue; }
    .sponsors__container--underline {
      width: 8rem;
      height: 0.3rem;
      background-color: blue; }
    .sponsors__container--listitems {
      display: flex;
      margin: 5rem; }
      .sponsors__container--listitems--ul {
        display: flex; }
      .sponsors__container--listitems--li {
        margin-right: 4rem; }
