*{
    list-style: none;
}
.banner-container{
    width:100%;
    color:white;
    position:relative;
    z-index:-1;
    &__menu{
        position:absolute;
        background-color:black;
        width:100%;
        height:8vh;
        opacity:0.8;
        z-index:1;
        display:flex;
        padding:5rem 15rem;
        align-items:center;
        overflow: hidden;
        &--menulist{
            position: absolute;
            left:30rem;
            ul{
                display:flex;
            }
            li{
                margin-right:5rem;
            }
        }
        &--logo{
            position: absolute;
            left:2rem;
            img{
                width:6rem;
                height:6rem;
            }
        }
        &--title{
            position: absolute;
            left:80rem;
            width:50rem;
            height:4rem;
            font-size: 12rem;
            font-style: italic;
            color:darkslategrey;
            font-family: auto;
            display:flex;
            input{
                margin-right:1rem;
                padding:0.5rem;
                border:1px solid lightgray;
                background-color: white;
                width:40%;
                border-radius:2.5rem;

            }
            button{
                background-color: #11274e;
                color:white;
                width:34%;
                border:none;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            button:hover{
                background-color: #11274e;
                transition: 1s ease;
            }
        }
        &--socialicons{
            display: flex;
            position: absolute;
            right:2rem;
            &--facebook{
                height:fit-content;
                width:4rem;
                margin-right: 0.5rem;
                padding:0.5rem;
                i{
                    font-size:2.4rem;
                }
            }
            
            &--pinterest{
                
                height:fit-content;
                width:fit-content;
                padding:0.5rem;
                margin-right: 1.5rem;
    
                i{
                    font-size:2.4rem;
    
                }
            }
            
            &--twitter{
          
                height:fit-content;
                width:fit-content;
                margin-right: 1rem;
                padding:0.5rem;
    
                i{
                    font-size:2.4rem;
    
                }
            }
            
        }
    }
    &__backimg{
        width:100%;
        height:100vh;
        background-repeat: no-repeat;
        background-image: url(../img/background01.jpg);
        background-size: cover;
        position: relative;
        overflow:hidden;
        
        &--backparticles{
            position: absolute;
            bottom:0;
            left:0;
                height:100vh;
                width:100%;
                background-repeat: no-repeat;
                background-image: url(../img/back_particles.png);
                animation:backparticles 1.5s ease-out;
                background-size:62%;
                backface-visibility: hidden;
                background-position:35rem;
                will-change: transform;
              
        }
        &--frontparticles{
            position: absolute;
            height:100vh;
            width:100%;
            background-repeat: no-repeat;
            background-image: url(../img/front_particles.png);
            animation:frontparticles 1s ease-out;
            //animation-delay: 0.2s;
            background-size:76rem 71rem;
            background-position:13rem;
            backface-visibility: hidden;
            will-change: transform;

        }
        &--player{
            position:absolute;
            width:100%;
            height:100vh;
            background-repeat: no-repeat;
            background-image: url(../img/cover-img1.png);
            background-size: 55rem;
            background-position: 52rem 0rem;
            animation:player 3s ease;
            overflow:hidden;
            will-change: transform;

        }
        
}
}
@keyframes backparticles{
    0%{
        background-size:200%;
        left:-96rem;
        opacity:0.4;
        bottom:-51.2rem;
    }
    100%{
        background-size:62%;
        opacity:0.8;
        left:0;
        bottom:0;
    }
}

@keyframes frontparticles{  
    0%{
        background-size:117rem 71rem;
        background-position: -75rem;
        opacity:0.2;
    }
    100%{
        background-size:76rem 71rem;
        background-position: 13rem;
        opacity:0.8;
    }
}
@keyframes player{
    0%{
        background-position: -37rem 36rem; 
        opacity:0;
    }
    100%{
        background-position: 52rem 0rem;
        opacity:1;
    }
}
@keyframes ball{
    0%{
        background-position:151rem 30rem;
    }
    100%{
        background-position:103rem 20rem;

    }
}
@keyframes title{
    0%{
        transform: translateX(90rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

.aboutscc{
    width:100%;
    height:80vh;
    display:flex;
    flex-direction:column;
    &__1{
        display:flex;
        background-image: url(../img/whiteBg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:30vh;
        padding:3rem 21rem;
        justify-content: space-around;
        align-items: center;
        &--1{
            img{
                width:20rem;
                height:20rem;
            }
            
        }
        &--2{
            font-size:3rem;
            color:#444444;
        }
        &--3{
                border:1px solid #11274e;
                background-color: white;
                padding:2rem 6rem;
                font-size:1.7rem;
                font-weight:600;
        }
        &--3:hover{
            transition:1.5s all ease;
                background-color: #11274e;
                color:white;

        }
        &--4{
                border:1px solid #11274e;
                background-color: #11274e;
                color:white;
                padding:2rem 6rem;
                font-size:1.7rem;
                font-weight:600;
        }
        &--4:hover{
            transition:1s all ease;
            background-color: white;
            color:black;
        }
    }
    &__2{
        display: flex;
        flex-direction: column;
        padding:5rem;
        align-items: center;
        &--1{
            font-size:4rem;
            padding:1rem;
        }
        &--underline{
            width:5%;
            background-color: cornflowerblue;
            padding:0.1rem;
        }
        &--2{
            padding:2rem 33rem;
            line-height:2.5rem;
            color:lightgray;
            font-size: 1.5rem;
            text-align: justify;
        }
        &--3{
            display: flex;
            &--matches{
                padding:1.4rem 4rem;
                background-color: lightgray;

                a{
                    color:indianred;
                    font-weight: 600;
                }

            }
            &--matches:hover{
                background-color: gray;
                a{
                    color:white;
                    font-weight: 600;
                }
            }
            &--statics{
                padding:1.4rem 4rem;
                background-color: gray;

                a{
                    color:white;
                    font-weight: 600;
                }

            }
            &--statics:hover{
                background-color: gray;
                a{
                    color:white;
                    font-weight: 600;
                }
            }
            &--training{
                padding:1.4rem 4rem;
                background-color: lightgray;

                a{
                    color:indianred;
                    font-weight: 600;
                }

            }
            &--training:hover{
                background-color: gray;
                a{
                    color:white;
                    font-weight: 600;
                }
            }
        }
    }
}
.latest-result{
    width:100%;
    height:100vh;
    background-image: url(../img/latestnews.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    overflow:hidden;
    &__1{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem;
        &--heading{
            font-size:4rem;
            color:white;
            font-weight: 100;
        }
        &--underline{
            width:50%;
            background-color: blue;
            margin:1rem;
            padding:0.2rem;
        }
    }
    &__2{
        display:flex;
        flex-direction:column;
        align-items: center;
        &--heading{
            font-size:2rem;
            color:cornflowerblue;
        }
        &--para{
            color:lightslategrey;
            font-size:1.3rem;
            line-height:2rem;
            padding:0rem 17rem;
            text-align:center; 
            margin-top:1rem;
        }
    }
    &__3{
        width:100%;       
        display:flex;
        margin:4rem;
        justify-content: center;
    
        &--1{
            &--logo{
                position: relative;
                z-index: 1;
                &--sub{
                    position: absolute;
                    top:1rem;
                    right:2rem;
                    z-index: 1;
                }
                &--sub1{
                    position: absolute;
                    top:4rem;
                    right:21rem;
                    transform:rotateY(180deg);
                    z-index: -1;                 
                    img{
                        width:30rem;
                        height:18rem;
                        animation:wings 1s ease-in;
                    }
            }
            }
        }
        &--2{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            margin:0rem 5rem;
            &--numbers{
                display:flex;
                font-size: 10rem;
                font-weight: 700;
                color:white;
                margin:4rem 0rem;
                &--one{

                }
                &--dash{

                }
                &--three{
                }
            }
            &--date{
                color:white;
                font-size:1.3rem;
            }
            &--stadium{
                color:white;
                font-size:1.3rem;

            }
            &--location{
                color:white;
                font-size:1.3rem;

            }
        }
        &--3{
            &--logo{
                position: relative;
                z-index: 10;
                &--sub{
                    position: absolute;
                    top:1rem;
                    right:2rem;
                    z-index: 1;
                }
                &--sub1{
                    position: absolute;
                    top:4rem;
                    right:-21rem;
                    z-index:-1;
                    background-image: url(../img/resultBoard.png);
                    background-repeat: no-repeat;
                    background-size: 28rem 18rem;
                    background-position:19rem 0rem ;
                    width:47rem;
                    height:20rem;
                    animation:wings2 1s ease-in;

                    /*img{
                        width:30rem;
                        height:18rem;
                        animation:wings2 .8s ease-in;
                    }*/
            }
            }
            
        }
    }
    &__4{
        border-radius:4%;
        background-color: cornflowerblue;
        padding:2rem 6rem;
        font-size:1.7rem;
        font-weight:600;
        border:none;
        a{
            color:white;
        }
    }
    &__4:hover{
        border-radius:4%;
        padding:2rem 6rem;
        font-size:1.7rem;
        font-weight:600;
        background-color: white;
        transition:1s all ease;
        border:none;

        a{
            color:cornflowerblue;
        }
    }
}
@keyframes wings{
    0%{
        width:0rem;
    }
    100%{
        width:30rem;
    }
}
@keyframes wings2{
    0%{
        background-size:0rem 18rem;
    }
    100%{
        background-size:28rem 18rem;

    }
}
.footer-container{
    width: 100%;
    background-image:url(../img/heroesBg.jpg);
    background-size: cover;
    height:50vh;
    display:flex;
    padding:5rem 15rem;
    justify-content: space-between;
    align-items:center;
    &__logo{
        img{
            width:9rem;
            height:9rem;
        }
    }
    &__menu{
        border-right:1px solid whitesmoke;
        padding-right: 10rem;
        ul{
            list-style: none;
            color:white;
            cursor: pointer;
        }
    }
    &__socialicons{
        display: flex;
        &--facebook{
            border:1px solid white;
            height:fit-content;
            width:5rem;
            border-radius: 4rem;
            margin:2rem;
            padding:1rem;
            i{
                font-size:3rem;
            }
        }
        &--facebook:hover{
            background-color:blue;
            transition:1s ease;

            border:1px solid blue;
        }
        &--pinterest{
            border:1px solid white;
            height:fit-content;
            width:fit-content;
            border-radius: 50%;
            margin:2rem;
            padding:1rem;

            i{
                font-size:3rem;

            }
        }
        &--pinterest:hover{
            background-color:red;
            transition:1s ease;

            border:1px solid red;

        }
        &--twitter{
            border:1px solid white;
            height:fit-content;
            width:fit-content;
            border-radius: 52%;
            margin:2rem;
            padding:1rem;

            i{
                font-size:3rem;

            }
        }
        &--twitter:hover{
            transition:1s ease;
            background-color:cornflowerblue;
            border:1px solid cornflowerblue;
        }
         
    }
}
