*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*.play-container{
    background-image: url(http://0effortthemes.com/soccerclubv2/images/background/innerpageBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -9rem;
    width:100%;
    height:75vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    position:relative;
    &__menu{
        position: absolute;
        background-color:black;
        width:100%;
        height:4vh;
        opacity:0.8;
        z-index:1;
        display:flex;
        padding:5rem 15rem;
        align-items:center;
        overflow: hidden;
        &--menulist{
            position: absolute;
            left:30rem;
            color:white;
            ul{
                color:white;
                display:flex;
            }
            li{
                margin-right:5rem;
                color:white;

            }
        }
        &--logo{
            position: absolute;
            left:4rem;
            top:1.2rem;
            img{
                width:8.4rem;
                height:8rem;
            }
        }
        &--title{
            position: absolute;
            left:80rem;
            width:50rem;
            height:4rem;
            font-size: 12rem;
            font-style: italic;
            color:darkslategrey;
            font-family: auto;
            display:flex;
            input{
                margin-right:1rem;
                padding:0.5rem;
                border:1px solid lightgray;
                background-color: white;
                width:40%;
                border-radius:2.5rem;

            }
            button{
                background-color: #11274e;
                color:white;
                width:34%;
                border:none;
                display:flex;
                align-items: center;
                justify-content: center;
            }
            button:hover{
                background-color: #11274e;
                transition: 1s ease;
            }
        }
        &--socialicons{
            display: flex;
            position: absolute;
            right:2rem;
            &--facebook{
                height:fit-content;
                width:4rem;
                margin-right: 0.5rem;
                padding:0.5rem;
                i{
                    font-size:2.4rem;
                }
            }
            
            &--pinterest{
                
                height:fit-content;
                width:fit-content;
                padding:0.5rem;
                margin-right: 1.5rem;
    
                i{
                    font-size:2.4rem;
    
                }
            }
            
            &--twitter{
          
                height:fit-content;
                width:fit-content;
                margin-right: 1rem;
                padding:0.5rem;
    
                i{
                    font-size:2.4rem;
    
                }
            }
            
        }
    }
    &--heading{
        transform: translateY(25rem);
    
            display:flex;
            justify-content: center;
            font-size:5rem;
            font-weight:700;
            
            color:white;
            span{
                color:cornflowerblue;
            }
        
      

    }
}
.club {
    width: 100%;
    height: 50vh;
    background-image: url(../img/whiteBgBig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center; 
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%; 
        &--heading {
            font-size: 3.5rem;
            font-weight: 700;
            margin-top: 5rem; 
            }
            &--heading span {
                color: cornflowerblue; }
        &--underline {
            width: 8rem;
            height: 0.3rem;
            background-color: blue; }
        &--paragraph {
            text-align: center;
            width: 70%;
            margin: 6rem;
            color: lightgray;
            line-height: 1.8rem;}
        &--tabs{
            display:flex;
            &--cricket{
                margin-right:1rem;
                button{  
                    border:none;
                    color:#073382;
                    padding:1rem 4rem;
                    font-weight:600;
                    background-color:#c2c2c9;
                }
            }
            &--T20{
               
                margin-right:1rem;
                button{  
                    padding:1rem 5rem;
                    background-color:#c2c2c9;
                    font-weight:600;
                    color:#073382;
                    border:none;
                }
            }
            &--test{
                
                margin-right:1rem;
                button{  
                    color:#073382;
                    padding:1rem 5rem;
                    font-weight:600;
                background-color:#c2c2c9;
                border:none;
                }
            }
            &--ODI{
               
                button{  
                    padding:1rem 5rem;
                    background-color:#c2c2c9;
                    color:#073382;
                    font-weight:600;
                    border:none;
                }
            }
        }
}
}
.guidelines{
    &__1{
        padding:8rem;
        width:100%;
        height:90vh;
        display:flex;
        &--photo{
            position:relative;
            width:50%;
            opacity:0;
            transform:translateY(30px);
            transition: 1s ease-in-out;
            &--img1{
                position: absolute;
                top:15rem;
                left:4rem;
                img{
                    width:59rem;
                    height:42rem;
                }
            }
            &--img2{
                position:absolute;
                top:10rem;
                left:8rem;
                border:2rem solid white;
                box-shadow: 3px 3px 17px black;
                img{
                    width:28rem;
                    height:25rem;
                }
            }
        }
        &--text{
            display:flex;
            flex-direction: column;
            justify-content:center;
            position:relative;
            padding:2rem;
            width:50%;
            opacity:0;
            transform:translateY(20px);
            transition: 1s ease-in-out;

            &--underline{
                width: 50%;
                height:1rem;
                background-color: lightgrey;
                border-radius: 10rem;
            }
            &--heading{
                margin-top:2rem;
                font-size: 4rem;
                font-weight: 700;
                color:cornflowerblue;
            }
            &--text{
                margin-top:3rem;
                text-align: justify;
                color:#444;
                font-size: 1.5rem;
            }
        }
    }
    &__2{
        padding:8rem;
        width:100%;
        height:90vh;
        display:flex;
        
        &--text{
            display:flex;
            flex-direction: column;
            justify-content:center;
            position:relative;
            padding:2rem;
            width:50%;
            opacity:0;
            transform:translateY(20px);
            transition: 1s ease-in-out;

            &--underline{
                width: 50%;
                height:1rem;
                background-color: lightgrey;
                border-radius: 10rem;
            }
            &--heading{
                margin-top:2rem;
                font-size: 4rem;
                font-weight: 700;
                color:cornflowerblue;
            }
            &--text{
                margin-top:3rem;
                text-align: justify;
                color:#444;
                font-size: 1.5rem;
            }
        }
        &--photo{
            position:relative;
            width:50%;
            opacity:0;
            transform:translateY(30px);
            transition: 1s ease-in-out;
            &--img1{
                position: absolute;
                top:15rem;
                left:4rem;
                img{
                    width:59rem;
                    height:42rem;
                }
            }
            &--img2{
                position:absolute;
                top:10rem;
                left:8rem;
                border:2rem solid white;
                box-shadow: 3px 3px 17px black;
                img{
                    width:28rem;
                    height:25rem;
                }
            }
        }
    }
    &__3{
        
            padding:8rem;
            width:100%;
            height:90vh;
            display:flex;
            &--photo{
                position:relative;
                width:50%;
                opacity:0;
                transform:translateY(30px);
                transition: 1s ease-in-out;
                &--img1{
                    position: absolute;
                    top:12rem;
                    left:4rem;
                    img{
                        width:59rem;
                        height:42rem;
                    }
                }
                &--img2{
                    position:absolute;
                    top:7rem;
                    left:8rem;
                    border:2rem solid white;
                    box-shadow: 3px 3px 17px black;
                    img{
                        width:28rem;
                        height:28rem;
                    }
                }
            }
            &--text{
                display:flex;
                flex-direction: column;
                justify-content:center;
                position:relative;
                padding:2rem;
                width:50%;
                opacity:0;
                transform:translateY(20px);
                transition: 1s ease-in-out;
    
                &--underline{
                    width: 50%;
                    height:1rem;
                    background-color: lightgrey;
                    border-radius: 10rem;
                }
                &--heading{
                    margin-top:2rem;
                    font-size: 4rem;
                    font-weight: 700;
                    color:cornflowerblue;
                }
                &--text{
                    margin-top:3rem;
                    text-align: justify;
                    color:#444;
                    font-size: 1.5rem;
                }
            }
    }
    &__4{
        
    }
    &__5{
        
    }
}
.change_text{
    opacity: 1;
    transform:translateY(0px);
}
.change{
    button{
        background-color: black;
        color:white;
    }
}*/

.tokyo{
    width:100%;
    display:flex;
    height:100vh;
    &__1{
        width:25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        h1{
            font-size: 4rem;
            font-weight: unset;
        }
        ul{
            display:flex;
            flex-direction: column;
            width:24rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            line-height: 3rem;
            color:grey;

            li{
                align-items: flex-start;
                a{
                    letter-spacing:1.3px;
                    font-size: 16px;
                }
            }
        }
        p{
            margin-top: 2rem;
            width:24rem;
            line-height: 2.5rem;
            color:gray;
        }
    }
    &__2{
        width:75%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
        overflow-y: scroll;

        &--1{
            width:36rem;
            height:30rem;
            background-image: url(../../img/1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
            overflow: hidden;
            animation: borderanimation 8s ease-in-out infinite 1s;
        }
        &--2{
            margin-left:5rem;
            h1{
                font-size: 6rem;
            }
            p{
                margin-bottom: 1.5rem;
                margin-top: 1.5rem;
                line-height:25px;
                font-size: 16px;
                color:grey;
            }
            &--socialicons{
                display:flex;
                i{
                    font-size: 2rem;
                    margin-top:2rem;
                    margin-right:1rem; 
                }
            }
        }
    }
}


@keyframes borderanimation {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.content1{
    margin-top: 5rem;
    &--image{
        width:84rem;
        margin-top:10rem;
        filter: grayscale(100%);

    }
    &--heading{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 5rem;
    }
    &--para{
        color:gray;
        font-size: 15px;
        line-height: 23px;
    }
    &--link{
        margin-top:2.5rem;
        margin-bottom: 5rem;
        padding:1.5rem 4rem;
        background-color: black;
        color:white;
        width:fit-content;
        transition: 0.5s ease-in-out;

    }
    &--link:hover{
        transition: 0.5s ease-in-out;
        padding:1.5rem 5rem;
        letter-spacing: 5px;
    }
}

.content2{
    margin:12rem;
    margin-top: 131rem;
    &--image{
        width:84rem;
    }
    &--heading{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 5rem;
    }
    &--video{
        margin-left: 16rem;
    }
    &--para{
        color:gray;
        font-size: 18px;
        line-height: 23px;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    &--heading1{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
    }
    &--heading2{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
    }
}

.content4{
    margin:5rem;
    margin-top:57rem;
    &--image{
        margin-top:14rem;
        width:84rem;
        
    }
    &--heading{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 5rem;
    }
    &--rules{
        margin-top:3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        font-style: italic;
        font-weight: 500;
    }
    &--list{
        li{
            margin:2rem;
            font-size: 16px;
            color:grey;
        }
    }
}

.content3{
    &--image{
        width:84rem;
        filter: grayscale(100%);

    }
    &__links{
        display: flex;
        margin-top:2rem;
        padding:1rem;
        justify-content: space-evenly;
        &--ttwenty{
            font-size:18px;
            font-weight:600;
            color:#1212b1;

        }
        &--od{
            font-size:18px;
            font-weight:600;
            color:#1212b1;

        }
        &--test{
            font-size:18px;
            font-weight:600;
            color:#1212b1;
        }
        &--tten{
            font-size:18px;
            font-weight:600;
            color:#1212b1;
        }
        &--othertwenty{
            font-size:18px;
            font-weight:600;
            color:#1212b1;
        }
        &--otherod{
            font-size:18px;
            font-weight:600;
            color:#1212b1;
        }
        &--othertest{
            font-size:18px;
            font-weight:600;
            color:#1212b1;
        }
    }
}


.popup{
    display: none;
  
}


.add{
    display:block;
    transition: 2s ease-in;
    
}

